header img{
    width: 200px;
    height: 75px;
}

footer{
    text-align: center;
    background-color: #0DCAF0;
    clear: both;
}

#tablaN img{
    width: 300px;
    height: 250px;
}

#seguridadIma img{
    width: 250px;
    height: 300px;
}


#promoG img{
    width: 250px;
    height: 300px;
}


#cant {
    margin-left: auto;
}

#cant2 {
    margin-left: auto;
}

#prod{
    float: left;
    border: 1px solid black;
}

#prod img{
    width: 350px;
    height: 150px;
}
