header img{
    width: 200px;
    height: 75px;
}

footer{
    text-align: center;
    background-color: #0DCAF0;
}

#tablaN img{
    width: 300px;
    height: 250px;
}

#seguridadIma img{
    width: 250px;
    height: 300px;
}
